<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク追加</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="page-task-form">

	<div class="form-container">
		<h1>タスク新規追加</h1>
		<div class="error">
			<span th:if="${errorList}" th:each="error:${errorList}" th:text="${error}"></span>
			<span th:text="${message}"></span>
		</div>

		<form action="/tasks/create" method="post">
			<label class="form-label">カテゴリー</label>
			<div class="radio-group">
				<th:block th:each="category : ${categories}">
					<input type="radio" name="categoryId" th:value="${category.categoryId}"
						th:id="'category' + ${category.categoryId}" th:checked="${category.categoryId == 1}">
					<label th:for="'category' + ${category.categoryId}">[[${category.categoryName}]]</label>
				</th:block>
			</div>

			<label class="form-label">タイトル</label>
			<input type="text" class="form-input" name="title" th:value="${task?.title}">


			<label class="form-label">開始日</label>
			<input type="date" class="form-input" name="date" th:value="${task?.date}">


			<label class="form-label">期限日</label>
			<input type="date" class="form-input" name="closingDate" th:value="${task?.closingDate}">


			<label class="form-label">予定所要時間 (分)</label>
			<input type="number" class="form-input" name="time" th:value="${task?.time}" placeholder="例: 30">


			<label class="form-label">備考 (メモ)</label>
			<input type="text" class="form-input" th:value="${task?.memo}" name="memo">

			<input type="hidden" name="progress" th:value="${task?.progress}" value="0">

			<div class="form-actions">
				<button type="submit" class="btn-submit">登録 </button>
				<a class="cancel-link" href="/tasks">登録せずに一覧に戻る</a>
			</div>
		</form>
	</div>

</body>

</html>