<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規作成</title>
</head>



<body>
	
	<h1>タスク作成</h1>
	<form action="/tasks/create" method="post">


		<table border="1">
			<tr>
				<th>カテゴリー</th>
				
				<td>
					<input type="radio" id="1" name="categoryId" value="1">
					<label for="1">仕事</label>

					<input type="radio" id="2" name="categoryId" value="2">
					<label for="2">日常</label><br>
				</td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td>
					<input type="text" th:value="${title}" name="title">
				</td>
			</tr>
			<tr>
				<th>開始日</th>
				<td>
					<input type="date" th:value="${date}" name="date">
				</td>
			</tr>
			<tr>
				<th>期限</th>
				<td>
					<input type="date" th:value="${closingDate}" name="closingDate">
				</td>
			</tr>
			<tr>
				<th>予定所要時間(分)</th>
				<td>
					<input type="text" th:value="${time}" name="time">
				</td>
			</tr>
			<tr>
				<th>備考</th>
				<td>
					<input type="textarea" th:value="${memo}" name="memo">
				</td>
			</tr>
	
		</table>
		<button>作成</button>
		
	</form>
</body>

</html>