<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク追加</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="page-task-form">

	<div class="form-container">
		<h1>タスク新規追加</h1>

		<form action="/tasks/create" method="post">
			<label class="form-label">カテゴリー</label>
			<div class="radio-group">
				<input type="radio" name="categoryId" value="1" checked id="category" for="category">仕事
				<input type="radio" name="categoryId" value="2" id="category" for="category">日常
			</div>

			<label class="form-label">タイトル</label>
			<input type="text" class="form-input" name="title">


			<label class="form-label">開始日</label>
			<input type="date" class="form-input" name="date">


			<label class="form-label">期限日</label>
			<input type="date" class="form-input" name="closingDate">


			<label class="form-label">予定所要時間 (分)</label>
			<input type="number" class="form-input" name="time" placeholder="例: 30">


			<label class="form-label">備考 (メモ)</label>
			<input type="text" class="form-input" name="memo">

			<input type="hidden" name="progress" value="0">

			<div class="form-actions">
				<button type="submit" class="btn-submit">登録 </button>
				<a class="cancel-link" href="/tasks">登録せずに一覧に戻る</a>
			</div>
		</form>
	</div>

</body>

</html>