<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク編集</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="page-task-form">

	<div class="form-container">
		<h1>タスク内容変更</h1>

		<div class="error">
			<span th:if="${errorList}" th:each="error:${errorList}" th:text="${error}"></span>
			<span th:text="${message}"></span>
		</div>

		<form th:action="@{/tasks/{id}/edit(id=${task.taskId})}" method="post">

			<label class="form-label">カテゴリー</label>
			<div class="radio-group">
				<th:block th:each="category : ${categories}">
					<input type="radio" name="categoryId" th:value="${category.categoryId}"
						th:id="'category' + ${category.categoryId}" th:checked="${category.categoryId == 1}">
					<label th:for="'category' + ${category.categoryId}">[[${category.categoryName}]]</label>
				</th:block>
			</div>

			<label class="form-label">タイトル</label>
			<input type="text" class="form-input" name="title" th:value="${task.title}">

			<label class="form-label">進捗状況</label>
			<div class="radio-group">
				<input type="radio" name="progress" value="0"
					th:checked="${task.progress == 0 or task.progress == null}" id="progress">
				<label for="progress">未着手</label>

				<input type="radio" name="progress" value="1" th:checked="${task.progress == 1}" id="progress">
				<label for="progress">進行中</label>

				<input type="radio" name="progress" value="2" th:checked="${task.progress == 2}" id="progress">
				<label for="progress">完了</label>
			</div>

			<label class="form-label">開始日</label>
			<input type="date" class="form-input" name="date" th:value="${task.date}">


			<label class="form-label">期限日</label>
			<input type="date" class="form-input" name="closingDate" th:value="${task.closingDate}">

			<label class="form-label">予定所要時間 (分)</label>
			<input type="number" class="form-input" name="time" th:value="${task.time}">

			<label class="form-label">備考 (メモ)</label>
			<input type="text" class="form-input" name="memo" th:value="${task.memo}">

			<div class="form-actions">
				<button type="submit" class="btn-submit">変更を保存する</button>
				<a class="cancel-link" href="/tasks">変更せずに一覧に戻る</a>
			</div>
		</form>
	</div>

</body>

</html>