<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="page-login">

	<div class="login-screen">
			<h1>ログイン</h1>

		<div class="error">
			<span th:if="${errorList}" th:each="error:${errorList}" th:text="${error}"></span>
			<span th:text="${message}"></span>
		</div>

		<form action="/login" method="post">

			<div class="login-form">
				<input type="text" name="name" th:value="${name}" placeholder="名前">
				<input type="password" name="password" placeholder="パスワード">
			</div>


			<button type="submit" class="login-form btn">ログイン</button>

			<a class="login-link" href="/users/add">新規登録はこちら</a>
		</form>
	</div>

</body>

</html>