<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="page-login">

	<div class="login-screen">
		<div style="text-align: center;	color: #777;">
			<h1>ログイン</h1>
		</div>

		<span th:if="${errorList}" th:each="error:${errorList}" th:text="${error}"></span>
		<span th:text="${message}"
			style="color: rgb(128, 0, 0); display: block; text-align: center; margin-bottom: 10px;"></span>

		<form action="/login" method="post">

			<div class="login-form">
				<input type="text" class="login-field" name="name" th:value="${name}" placeholder="名前">
				<input type="password" class="login-field" name="password" placeholder="パスワード">
			</div>


			<button type="submit" class="login-form btn">ログイン</button>

			<a class="login-link" href="/users/add">新規登録はこちら</a>
		</form>
	</div>

</body>

</html>